@model MVC02.ViewModel.StudentDepartment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STD_DEPT_Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <h1 class="display-6">@Model.student.ID :: @Model.student.Name :: @Model.student.Age :: @Model.student.Email</h1>
    <h1 class="display-6">@Model.department.ID :: @Model.department.Name :::::::::::::::::::::::::::::::::::::::</h1>

</body>
</html>
