@model MVC02.ViewModel.StudentDepartmentList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STD_DEPT_list_Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <table class="text-center table">
        <thead>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Age</th>
        <th>Student Email</th>

        <th>Department ID</th>
        <th>Department Name</th>

        </thead>

        @foreach (var item in Model.students)
        {
            @foreach (var item2 in Model.departments){

            <tr>
                <td>@item2.ID</td>
                <td>@item2.Name</td>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Email</td>
            </tr>
            }
        }
    </table>
    <br />
    <br />
    <br />
</body>
</html>
