@model IEnumerable<Student>
@{
    ViewData["Title"] = "Create Student";
}


<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-start">
        <div class="actions-btns my-2">
            <a class="btn btn-primary" asp-controller="Students" asp-action="Create">Create</a>
        </div>
        <table class="table table-hover table-bordered w-75">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in @Model)
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Age</td>
                        <td>@student.Address</td>
                        <td>@student.Department.Name</td>
                        <td>
                            <a class="btn btn-warning btn-sm me-2" asp-controller="Students" asp-action="Update" asp-route-id="@student.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
