@using day2.Models
@model StudentDepartmentViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <h1>@Model.Student.Id  :: @Model.Student.Name :: @Model.Student.age  :: @Model.Student.Address</h1>
    <h1>@Model.Department.Id  :: @Model.Department.Name </h1>
</body>
</html>
